@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@import "katex/dist/katex.min.css";


@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}

.animate-spin-slow {
  animation: spin-slow 8s linear infinite;
}

/* =========================================
   SCROLLBAR (LIGHT + DARK)
   ========================================= */

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #94a3b8 #e2e8f0;
  /* thumb / track (light) */
}

/* Chrome / Edge / Safari */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #e2e8f0;
  /* slate-200 */
  border-radius: 999px;
}

::-webkit-scrollbar-thumb {
  background: #94a3b8;
  /* slate-400 */
  border-radius: 999px;
  border: 2px solid #e2e8f0;
  /* “padding” do thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #64748b;
  /* slate-500 */
}

/* ================= DARK MODE ================= */
.dark * {
  scrollbar-color: #475569 #0f172a;
  /* thumb / track (dark) */
}

.dark ::-webkit-scrollbar-track {
  background: #0f172a;
  /* slate-900 */
}

.dark ::-webkit-scrollbar-thumb {
  background: #475569;
  /* slate-600 */
  border: 2px solid #0f172a;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #64748b;
  /* slate-500 */
}